<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/cps/Cps"
			class = "org.xtext.example.cps.cps.CpsPackage"
			genModel = "model/generated/CPS.genmodel" />
	</extension>
</plugin>
